.scroll-pane > .viewport {
    -fx-background-color: white;

}

.line {
    -fx-stroke-width: 2;

}

.circle {
    -fx-stroke-width: 4;
    -fx-stroke: BLACK;
    -fx-fill: Transparent;

}

.rectangle {
    -fx-stroke-width: 4;
    -fx-stroke: BLACK;
    -fx-fill: Transparent;
}

.triangle {
    -fx-stroke-width: 4;
    -fx-stroke: BLACK;
    -fx-fill: Transparent;
}